body {
    background: url(/img/background.jpg) center center / cover no-repeat fixed;

}

#mainHeader > a {
    display: block;
    padding: 0;
    position: absolute;
    left: 51%;
    margin: 0 0 0 -85px;
    top: 50px;
    z-index: 99;
    overflow: hidden;
}

#social-network {
    margin-top: 10px;
    margin-left: 120px;
    width: 230px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 0;
    pointer-events: auto;
}

#social-network h2 {
    font-family: source_sans_proregular,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 10px;
    color: black;
}

#twitterImg {
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(/img/Twitter-icon.png) -44px -21px;
}

#facebookImg {
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(/img/Facebook-icon.png) -65px -21px;
}

#youtubeImg {
    width: 33px;
    height: 21px;
    display: inline-block;
    background: url(/img/youtube-icon.png) -86px -21px;
}

#instagramImg {
    width: 33px;
    height: 21px;
    display: inline-block;
    background: url(/img/instagram-icon.png) -119px -21px;
}

.visibilite{
position: absolute;
left: -15000px;
}


#mainNav a {
    color: white;
}
#mainNav a:hover {
    color: black;
}
#mainNav a:active {
    color: brown;
}