#parse("base.html")
#@mainLayout()
<h1>Formulaire</h1>
<div>
    <div class="wrapper" >
        <div class="inner">
            <div class="image-holder">
                <img src="img/signup.png" alt="">
            </div>
            <form enctype="multipart/form-data" action="" method="post" >
                <h3>Registration Form</h3>
                <div class="form-group">
                    <input type="text" name="First_Name" placeholder="First Name" class="form-control">
                    <input type="text" name="Last_Name" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-wrapper">
                    <input type="text" name="username" placeholder="username" class="form-control">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input type="text" name="Email_Address" placeholder="Email Address" class="form-control">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" name="password" placeholder="password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>
#end