<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Détail Tireuse </title>
</head>


<body>
    <div>

        <h1> TEXTE </h1>

        <ul>
            <li> $biere.nom </li>
            <li> $biere.origine </li>
            <li> $biere.prix_litre </li>
            <li> $biere.latitude </li>
            <li> $biere.longitude </li>
            <li> $biere.description </li>
        </ul>

    </div>

</body>

</html>

